@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        @{
            const string naver = "abcdefg Naver hijklmn";
            const string url = "https://www.naver.com";

            <a href="@url">@naver.Substring(8, 5)</a>
        }

        <script>
            alert("Message");
        </script>

    </div>
