@page
@using System.Net;
@using System.Net.Sockets;
@using System.IO;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        string url = $"https://{HttpContext.Request.Host}{HttpContext.Request.Path}";
        <p>@url</p>

        @*Socket socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp);
        socket.Connect(new IPEndPoint(IPAddress.Parse(Dns.GetHostAddresses(url)[0].ToString()), 10101));

        using (var reader = new StreamReader(new NetworkStream(socket)))
        {
            <p>@reader.ReadLine()</p>
        }*@
    }

</div>
