@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Net.WebSockets;
@using System.Threading;
@using System.Text;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div style="text-align:left">
        @{
            string uri = $"wss://{Request.Host}/ws";
            //  HOST: @uri
        }

        @{
            //ClientWebSocket socket = new ClientWebSocket();
            //await socket.ConnectAsync(new Uri(uri), CancellationToken.None);
            //WebSocketConnection conn = new WebSocketConnection(socket);
            //
            //StringBuilder builder = new StringBuilder();
            //builder.Append(3); builder.Append('\0');
            //builder.Append(123); builder.Append('\0');
            //builder.Append(unchecked(0xFFAA55AA)); builder.Append('\0');
            //builder.Append("TestCat"); builder.Append('\0');
            //builder.Append(100000); builder.Append('\0');
            //builder.Append(7); builder.Append('\0');
            //builder.Append(0); builder.Append('\0');
            //builder.Append(100000); builder.Append('\0');
            //builder.Append(3.3);builder.Append('\0');
            //builder.Append("aaa bbb");builder.Append('\0');
            //
            //await conn.SendBinaryAsync(Methods.IntToByteArray((int)RequestId.NewCat));
            //await conn.SendBinaryAsync(Methods.LongToByteArray(1));
            //await conn.SendTextAsync("D7TAU0TZA0IPZMQPHMT0TAE60ZUQ3T0DQ07TDDZQUDM07PAHQDP0TTQHDP6PZ6U6");
            //await conn.SendTextAsync(builder.ToString());
            //
            //await conn.ReceiveAsync();
            //var resp = (ResponseId)Methods.ByteArrayToInt(conn.BinaryMessage);
            //
            //await conn.CloseAsync();
            //
            //<br />
            //@resp.ToString()
        }
    </div>

</div>
