@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Text;
@using System.Net;
@using System.Net.Sockets;
@using System.Net.WebSockets;
@using System.Threading;
@using System.IO;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div style="text-align:left">
        @{
                string uri = $"wss://{Request.Host}{Request.Path}ws";
        }
        HOST: @uri

        @{
            ClientWebSocket client = new ClientWebSocket();
            await client.ConnectAsync(new Uri(uri), CancellationToken.None);
            WebSocketConnection conn = new WebSocketConnection(client);

            await conn.SendTextAsync("Hello World!");
            await conn.ReceiveAsync();
        }
        T_Message: @conn.TextMessage

        @{
            await conn.SendBinaryAsync(new byte[] { 0, 1, 2, 3, 4 });
            await conn.ReceiveAsync();
            await conn.CloseAsync();
        }
        <br />
        B_Message: @(string.Join(", ", from bt in conn.BinaryMessage select bt.ToString()))
    </div>

</div>
