@page "{h?}"
@model Caight.Pages.VerificationModel
@{
    ViewData["Title"] = "Caight-Verification";
}

@using Caight;
@using System.Net.WebSockets;
@using System.Threading;

@{
    string uri = $"wss://{Request.Host}/ws";

    var socket = new ClientWebSocket();
    await socket.ConnectAsync(new Uri(uri), CancellationToken.None);
    var conn = new WebSocketConnection(socket);

    await conn.SendBinaryAsync(Methods.IntToByteArray((int)RequestId.VerifyEmailWebOnly));
    await conn.SendTextAsync(Model.Hash);

    await conn.ReceiveAsync();
    ResponseId response = (ResponseId)Methods.ByteArrayToInt(conn.BinaryMessage);

    if (response == ResponseId.VerifyOkWebOnly)
    {
        await conn.ReceiveAsync();
        string email = conn.TextMessage;

        <center>
            <h4>'@(email)' is verified.</h4>
            <p>Now you can use your account.</p>
        </center>
    }
    else
    {
        <h1>Unknown Page</h1>
    }

    await conn.CloseAsync();
}